workflows/n8n/scbe_telegram_webhook_cloud.workflow.json
{
  "name": "SCBE Telegram Webhook Cloud Router",
  "nodes": [
    {
      "id": "webhook_tg",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        280
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-clayofsand",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "scbe-telegram-cloud-router-001"
    },
    {
      "id": "parse_update",
      "name": "Parse Telegram Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        280
      ],
      "parameters": {
        "jsCode": "const update = $json.body || $json;\nconst message = update.message || update.edited_message || update.channel_post || {};\nconst chatId = message.chat?.id ?? null;\nif (!chatId) {\n  return [];\n}\nconst original = String(message.text || '').trim();\nconst lower = original.toLowerCase();\nlet mode = 'dispatch';\nlet provider = 'huggingface';\nlet prompt = original;\n\nif (lower === '/status') {\n  mode = 'status';\n  prompt = 'status';\n} else if (lower.startsWith('/grok ')) {\n  provider = 'xai';\n  prompt = original.slice(6).trim();\n} else if (lower.startsWith('/claude ')) {\n  provider = 'anthropic';\n  prompt = original.slice(8).trim();\n} else if (lower.startsWith('/gpt ')) {\n  provider = 'openai';\n  prompt = original.slice(5).trim();\n} else if (lower.startsWith('/hf ')) {\n  provider = 'huggingface';\n  prompt = original.slice(4).trim();\n}\n\nif (!prompt) {\n  prompt = 'hello';\n}\n\nreturn [{\n  json: {\n    update_id: update.update_id,\n    chat_id: chatId,\n    mode,\n    provider,\n    prompt,\n    original\n  }\n}];"
      }
    },
    {
      "id": "if_status",
      "name": "Is Status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "mode_eq_status",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "call_provider_status",
      "name": "Bridge Providers Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        160
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/llm/providers' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "build_status_message",
      "name": "Build Status Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        160
      ],
      "parameters": {
        "jsCode": "if ($json.error) {\n  return [{ json: { text: `Status check failed: ${$json.error.message || 'unknown error'}` } }];\n}\nconst p = $json.providers || {};\nconst line = (k, v) => `${k}: ${v?.configured ? 'on' : 'off'} (${v?.default_model || '-'})`;\nconst text = [\n  'SCBE Provider Status',\n  line('openai', p.openai),\n  line('anthropic', p.anthropic),\n  line('xai', p.xai),\n  line('huggingface', p.huggingface),\n  `zapier: ${$json.zapier?.configured ? 'on' : 'off'}`\n].join('\\n');\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "send_status_reply",
      "name": "Send Telegram Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        160
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Telegram Update').item.json.chat_id, text: $json.text }) }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "call_dispatch",
      "name": "Bridge LLM Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        380
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/llm/dispatch' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ provider: $json.provider, messages: [{ role: 'user', content: $json.prompt }], temperature: 0.2, max_tokens: 700, metadata: { source: 'telegram', workflow: 'scbe_telegram_webhook_cloud' } }) }}",
        "options": {
          "timeout": 90000
        }
      }
    },
    {
      "id": "build_dispatch_message",
      "name": "Build Dispatch Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        380
      ],
      "parameters": {
        "jsCode": "if ($json.error) {\n  return [{ json: { text: `Dispatch failed: ${$json.error.message || 'unknown error'}` } }];\n}\nlet text = String($json.text || '').trim();\nif (!text) {\n  text = 'No text response from provider.';\n}\nif (text.length > 3500) {\n  text = `${text.slice(0, 3500)}\\n...[truncated]`;\n}\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "send_dispatch_reply",
      "name": "Send Telegram Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        380
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse Telegram Update').item.json.chat_id, text: $json.text }) }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "note_usage",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        20
      ],
      "parameters": {
        "color": 4,
        "width": 560,
        "height": 220,
        "content": "### Cloud-safe Telegram Router\n- No Telegram credentials required in nodes.\n- Uses webhook + Telegram Bot API HTTP calls.\n- Set env vars in n8n: TELEGRAM_BOT_TOKEN, SCBE_BRIDGE_URL, SCBE_API_KEY.\n- Set BotFather webhook to: https://<your-n8n-domain>/webhook/telegram-clayofsand"
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Parse Telegram Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Update": {
      "main": [
        [
          {
            "node": "Is Status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status?": {
      "main": [
        [
          {
            "node": "Bridge Providers Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bridge LLM Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bridge Providers Status": {
      "main": [
        [
          {
            "node": "Build Status Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Status Reply": {
      "main": [
        [
          {
            "node": "Send Telegram Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bridge LLM Dispatch": {
      "main": [
        [
          {
            "node": "Build Dispatch Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dispatch Reply": {
      "main": [
        [
          {
            "node": "Send Telegram Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
