workflows/n8n/x_growth_merch_ops.workflow.json
{
  "name": "SCBE X Growth + Merch Ops",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1060, 220]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scbe-x-ops",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1060, 40]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\nconst action = String(raw.action || 'post').toLowerCase();\nconst text = String(raw.text || '');\nconst replyTo = String(raw.reply_to || '');\nconst productUrl = String(raw.product_url || 'https://aetherdavis.gumroad.com');\nconst productName = String(raw.product_name || 'SCBE Product');\n\nreturn [{\n  json: {\n    action,\n    text,\n    reply_to: replyTo,\n    product_url: productUrl,\n    product_name: productName,\n    scbe_api_key: String(raw.scbe_api_key || 'PASTE_SCBE_API_KEY'),\n    x_bearer: String(raw.x_bearer || 'PASTE_X_BEARER_TOKEN')\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reply_condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "reply",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_reply",
      "name": "If Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "merch_condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "merch",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_merch",
      "name": "If Merch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ `Bearer ${$json.x_bearer}` }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.text } }}",
        "options": {}
      },
      "id": "x_post",
      "name": "X Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ `Bearer ${$json.x_bearer}` }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.text, reply: { in_reply_to_tweet_id: $json.reply_to } } }}",
        "options": {}
      },
      "id": "x_reply",
      "name": "X Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/v1/integrations/n8n/browse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $json.scbe_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_id: 'x-merch', run_id: `n8n-${Date.now()}`, source: 'n8n', session_id: `x-merch-${Date.now()}`, actions: [ { action: 'navigate', target: $json.product_url, timeout_ms: 12000 }, { action: 'extract', target: 'h1', timeout_ms: 12000 }, { action: 'screenshot', target: 'full_page', timeout_ms: 12000 } ] } }}",
        "options": {}
      },
      "id": "merch_browser",
      "name": "Merch Browser Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 180]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "If Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reply": {
      "main": [
        [
          {
            "node": "X Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Merch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Merch": {
      "main": [
        [
          {
            "node": "Merch Browser Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "versionId": "x-growth-merch-ops-v1"
}
