.n8n_local_iso/export_check/workflows.json
[{"updatedAt":"2026-03-04T03:49:19.000Z","createdAt":"2026-03-04T03:43:19.670Z","id":"18ed239a-3fe5-40c6-9a43-f9da5c3083f3","name":"SCBE Notion+GitHub Swarm Research","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scbe-notion-github-swarm","responseMode":"responseNode","options":{}},"id":"webhook_intake","name":"Webhook: Notion+GitHub Intake","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,160],"webhookId":"scbe-notion-github-swarm-001"},{"parameters":{"jsCode":"const payload = $json || {};\nconst notionUrls = Array.isArray(payload.notion_urls)\n  ? payload.notion_urls\n  : (payload.notion_url ? [payload.notion_url] : []);\nconst githubUrls = Array.isArray(payload.github_urls)\n  ? payload.github_urls\n  : (payload.github_url ? [payload.github_url] : []);\n\nconst maxSources = Math.min(Math.max(Number(payload.max_sources || 4), 1), 5);\nconst deduped = [];\nconst seen = new Set();\n\nfor (const raw of [...notionUrls, ...githubUrls]) {\n  const url = String(raw || '').trim();\n  if (!url) continue;\n  if (!/^https?:\\/\\//i.test(url)) continue;\n  const key = url.toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(url);\n}\n\nif (deduped.length === 0) {\n  deduped.push('https://github.com/issdandavis/SCBE-AETHERMOORE/tree/main/docs');\n}\n\nconst selected = deduped.slice(0, maxSources);\nconst actions = [];\nfor (const url of selected) {\n  actions.push({ action: 'navigate', target: url, timeout_ms: 15000 });\n  actions.push({ action: 'extract', target: 'body', timeout_ms: 12000 });\n  if (actions.length >= 10) break;\n}\n\nconst runId = payload.run_id || `notion-gh-${Date.now()}`;\nconst sessionId = payload.session_id || `swarm-${Date.now()}`;\nconst query = String(payload.query || '');\n\nreturn [{\n  json: {\n    workflow_id: 'n8n-notion-github-swarm',\n    run_id: runId,\n    session_id: sessionId,\n    source: 'n8n',\n    dry_run: !!payload.dry_run,\n    actions,\n    query,\n    source_manifest: {\n      notion_urls: notionUrls,\n      github_urls: githubUrls,\n      selected_urls: selected\n    }\n  }\n}];"},"id":"build_actions","name":"Build Browse Actions","type":"n8n-nodes-base.code","typeVersion":2,"position":[-620,160]},{"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/integrations/n8n/browse' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || $env.N8N_API_KEY || 'scbe-dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ workflow_id: $json.workflow_id, run_id: $json.run_id, source: $json.source, session_id: $json.session_id, dry_run: $json.dry_run, actions: $json.actions }) }}","options":{"timeout":90000}},"id":"run_browser","name":"Run Playwright Swarm","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,160]},{"parameters":{"jsCode":"const result = $json || {};\nconst rows = Array.isArray(result.results) ? result.results : [];\nconst snippets = [];\nfor (const row of rows) {\n  if (row && row.data && typeof row.data.extracted_text === 'string') {\n    snippets.push(row.data.extracted_text.slice(0, 280));\n  }\n  if (snippets.length >= 4) break;\n}\n\nconst summary = [\n  `run=${result.integration?.run_id || result.session_id || 'unknown'}`,\n  `status=${result.status || 'unknown'}`,\n  `executed=${result.executed_actions ?? 0}/${result.total_actions ?? 0}`,\n  `blocked=${result.blocked_actions ?? 0}`,\n  `trace=${result.trace || ''}`,\n  snippets.length ? `snippets=${snippets.join(' | ')}` : 'snippets=none'\n].join(' ; ');\n\nreturn [{\n  json: {\n    summary,\n    run_id: result.integration?.run_id || result.session_id || `notion-gh-${Date.now()}`,\n    status: result.status || 'unknown',\n    trace: result.trace || '',\n    raw_result: result\n  }\n}];"},"id":"summarize","name":"Summarize Findings","type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,160]},{"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/governance/scan' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || $env.N8N_API_KEY || 'scbe-dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $('Summarize Findings').item.json.summary, scan_mode: 'full' }) }}","options":{"timeout":15000}},"id":"governance_scan","name":"Governance Scan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,160]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.verdict || $json.governance_decision || 'ALLOW' }}","rightValue":"DENY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"governance_gate","name":"Governance Gate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,160]},{"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/training/ingest' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || $env.N8N_API_KEY || 'scbe-dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'notion_github_swarm_research', context: $('Summarize Findings').item.json.summary, outcome: $('Summarize Findings').item.json.status, tongue: 'RU', metadata: { run_id: $('Summarize Findings').item.json.run_id, trace: $('Summarize Findings').item.json.trace } }) }}","options":{"timeout":15000}},"id":"training_ingest","name":"Training Ingest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,80]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', pipeline: 'notion_github_swarm_research', run_id: $('Summarize Findings').item.json.run_id, summary: $('Summarize Findings').item.json.summary, training_status: $('Training Ingest').item.json.status || 'queued' }) }}"},"id":"respond_ok","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[860,80]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'blocked', pipeline: 'notion_github_swarm_research', reason: 'governance_deny', verdict: $json.verdict || $json.governance_decision || 'DENY' }) }}","options":{"responseCode":403}},"id":"respond_denied","name":"Respond Denied","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[620,260]}],"connections":{"Webhook: Notion+GitHub Intake":{"main":[[{"node":"Build Browse Actions","type":"main","index":0}]]},"Build Browse Actions":{"main":[[{"node":"Run Playwright Swarm","type":"main","index":0}]]},"Run Playwright Swarm":{"main":[[{"node":"Summarize Findings","type":"main","index":0}]]},"Summarize Findings":{"main":[[{"node":"Governance Scan","type":"main","index":0}]]},"Governance Scan":{"main":[[{"node":"Governance Gate","type":"main","index":0}]]},"Governance Gate":{"main":[[{"node":"Training Ingest","type":"main","index":0}],[{"node":"Respond Denied","type":"main","index":0}]]},"Training Ingest":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"meta":{"scbe_version":"3.0.0","description":"Ingest Notion/GitHub URLs, run Playwright swarm research via bridge proxy, gate via governance, and feed training ingest."},"pinData":null,"versionId":"2b99444c-dfd3-47af-9792-dbcfae2c4e61","activeVersionId":"2b99444c-dfd3-47af-9792-dbcfae2c4e61","versionCounter":3,"triggerCount":0,"tags":[{"updatedAt":"2026-03-04T03:43:19.679Z","createdAt":"2026-03-04T03:43:19.679Z","id":"4lYguzsbRZJ6dZF3","name":"scbe"},{"updatedAt":"2026-03-04T03:43:19.685Z","createdAt":"2026-03-04T03:43:19.685Z","id":"56vXTuvRFoCDy41r","name":"swarm"},{"updatedAt":"2026-03-04T03:43:19.684Z","createdAt":"2026-03-04T03:43:19.684Z","id":"LjMhdnh9eZ5bqAq8","name":"playwright"},{"updatedAt":"2026-03-04T03:43:19.683Z","createdAt":"2026-03-04T03:43:19.683Z","id":"hv5BV8ubS5ePdCFf","name":"n8n"}],"shared":[{"updatedAt":"2026-03-04T03:43:19.675Z","createdAt":"2026-03-04T03:43:19.675Z","role":"workflow:owner","workflowId":"18ed239a-3fe5-40c6-9a43-f9da5c3083f3","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:49:55.000Z","createdAt":"2026-03-04T03:47:35.557Z","id":"fcd687a7-5e08-45fa-a991-d4861741f328","name":"SCBE Asana -> AetherBrowse Scheduler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual_trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1120,220]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"schedule_trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1120,40]},{"parameters":{"method":"GET","url":"https://app.asana.com/api/1.0/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ `Bearer ${$env.ASANA_PAT}` }}"},{"name":"Content-Type","value":"application/json"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"1210507086219964"},{"name":"limit","value":"50"},{"name":"opt_fields","value":"gid,name,notes,completed,due_on,permalink_url"}]},"options":{}},"id":"get_asana_tasks","name":"Get Asana Tasks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,120]},{"parameters":{"jsCode":"const projectId = \"1210507086219964\";\nconst asanaToken = $env.ASANA_PAT || \"\";\nconst scbeApiKey = $env.SCBE_API_KEY || \"scbe-dev-key\";\nconst scbeBrowseUrl = $env.SCBE_BROWSER_WEBHOOK_URL || \"http://127.0.0.1:8001/v1/integrations/n8n/browse\";\n\nconst data = Array.isArray($json.data) ? $json.data : [];\nconst today = new Date().toISOString().slice(0, 10);\nconst urlRegex = /https?:\\/\\/[^\\s)]+/i;\n\nconst out = [];\nfor (const task of data) {\n  if (task.completed) continue;\n  if (task.due_on && task.due_on > today) continue;\n\n  const notes = String(task.notes || \"\");\n  const match = notes.match(urlRegex);\n  const target = match ? match[0] : \"https://example.com\";\n\n  out.push({\n    json: {\n      task_gid: task.gid,\n      task_name: task.name || `task-${task.gid}`,\n      asana_token: asanaToken,\n      scbe_api_key: scbeApiKey,\n      scbe_url: scbeBrowseUrl,\n      session_id: `asana-task-${task.gid}`,\n      workflow_id: `asana-project-${projectId}`,\n      run_id: `n8n-${Date.now()}`,\n      actions: [\n        { action: \"navigate\", target, timeout_ms: 12000 },\n        { action: \"extract\", target: \"h1\", timeout_ms: 12000 },\n        { action: \"screenshot\", target: \"full_page\", timeout_ms: 12000 }\n      ]\n    }\n  });\n}\n\nreturn out;"},"id":"build_browser_jobs","name":"Build Browser Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-620,120]},{"parameters":{"method":"POST","url":"={{ $json.scbe_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $json.scbe_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { workflow_id: $json.workflow_id, run_id: $json.run_id, source: \"n8n\", session_id: $json.session_id, actions: $json.actions } }}","options":{}},"id":"run_browser_job","name":"Run Browser Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,120]},{"parameters":{"jsCode":"const res = $json;\nconst session = String(res.session_id || \"\");\nconst gid = session.replace(/^asana-task-/, \"\");\nconst results = Array.isArray(res.results) ? res.results : [];\nconst successes = results.filter(r => r && r.success === true).length;\n\nlet decision = \"NOISE\";\nif (results.length > 0 && successes === results.length) {\n  decision = \"ALLOW\";\n} else if (successes > 0) {\n  decision = \"QUARANTINE\";\n}\n\nconst comment = `[SCBE][AetherBrowse] decision=${decision} executed=${res.executed_actions ?? 0}/${res.total_actions ?? 0} trace=${res.trace ?? \"\"}`;\n\nreturn [{\n  json: {\n    task_gid: gid,\n    decision,\n    comment,\n    asana_token: $env.ASANA_PAT || \"\"\n  }\n}];"},"id":"build_asana_comment","name":"Build Asana Comment","type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,120]},{"parameters":{"method":"POST","url":"={{ `https://app.asana.com/api/1.0/tasks/${$json.task_gid}/stories` }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ `Bearer ${$json.asana_token}` }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { data: { text: $json.comment } } }}","options":{}},"id":"post_asana_comment","name":"Post Asana Comment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"allow_condition","leftValue":"={{ $json.decision }}","rightValue":"ALLOW","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if_allow","name":"If Decision ALLOW","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,120]},{"parameters":{"method":"PUT","url":"={{ `https://app.asana.com/api/1.0/tasks/${$json.task_gid}` }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ `Bearer ${$json.asana_token}` }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { data: { completed: true } } }}","options":{}},"id":"complete_asana_task","name":"Complete Asana Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,40]}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Asana Tasks","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Asana Tasks","type":"main","index":0}]]},"Get Asana Tasks":{"main":[[{"node":"Build Browser Jobs","type":"main","index":0}]]},"Build Browser Jobs":{"main":[[{"node":"Run Browser Job","type":"main","index":0}]]},"Run Browser Job":{"main":[[{"node":"Build Asana Comment","type":"main","index":0}]]},"Build Asana Comment":{"main":[[{"node":"Post Asana Comment","type":"main","index":0}],[{"node":"If Decision ALLOW","type":"main","index":0}]]},"If Decision ALLOW":{"main":[[{"node":"Complete Asana Task","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":false},"pinData":{},"versionId":"1f580f01-a5f3-45f3-9199-38507bec84ff","activeVersionId":"1f580f01-a5f3-45f3-9199-38507bec84ff","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:47:35.561Z","createdAt":"2026-03-04T03:47:35.561Z","role":"workflow:owner","workflowId":"fcd687a7-5e08-45fa-a991-d4861741f328","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:49:47.000Z","createdAt":"2026-03-04T03:47:42.772Z","id":"f5742318-9b49-4b8d-a765-228cccf8c84c","name":"Baserow Releases RSS Feed","description":null,"active":true,"isArchived":false,"nodes":[{"id":"manual_trigger_exec","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[240,300],"parameters":{},"typeVersion":1},{"id":"item_lists_split","name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[1120,300],"parameters":{"options":{},"fieldToSplitOut":"post"},"typeVersion":1},{"id":"extract_posts","name":"Extract Posts","type":"n8n-nodes-base.htmlExtract","position":[900,300],"parameters":{"options":{},"extractionValues":{"values":[{"key":"post","cssSelector":".blog-listing__post-content","returnArray":true,"returnValue":"html"}]}},"typeVersion":1},{"id":"fetch_website","name":"Fetch Website","type":"n8n-nodes-base.httpRequest","position":[680,300],"parameters":{"url":"={{$json[\"base_domain\"]}}/blog/category/release","options":{"timeout":10000},"responseFormat":"string"},"typeVersion":1},{"id":"set_url","name":"Set URL","type":"n8n-nodes-base.set","position":[460,300],"parameters":{"values":{"string":[{"name":"base_domain","value":"https://baserow.io"}]},"options":{}},"typeVersion":1},{"id":"complete_link","name":"Complete Link","type":"n8n-nodes-base.set","position":[240,500],"parameters":{"values":{"string":[{"name":"link","value":"={{$item(0).$node[\"Set URL\"].json[\"base_domain\"]}}{{$json[\"link\"]}}"}]},"options":{}},"typeVersion":1},{"id":"format_date","name":"Format Date","type":"n8n-nodes-base.dateTime","position":[460,500],"parameters":{"value":"={{$json[\"date\"]}}","options":{},"toFormat":"YYYY-MM-DD","dataPropertyName":"date"},"typeVersion":1},{"id":"create_rss_items","name":"Create RSS Items","type":"n8n-nodes-base.functionItem","position":[680,500],"parameters":{"functionCode":"return {\n  rss_item: \n`<item>\n  <title>${item.title}</title>\n  <link>${item.link}</link>\n  <description>${item.description}</description>\n  <pubDate>${item.date}</pubDate>\n</item>`\n}"},"typeVersion":1},{"id":"webhook_releases","name":"Webhook","type":"n8n-nodes-base.webhook","position":[240,100],"webhookId":"27c1e4db-568f-4bf9-9474-0898ce1173f7","parameters":{"path":"baserow-releases","options":{},"responseMode":"responseNode"},"typeVersion":1},{"id":"respond_webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1120,500],"parameters":{"options":{"responseHeaders":{"entries":[{"name":"content-type","value":"application/xml"}]}},"respondWith":"text","responseBody":"={{$json[\"feed\"]}}"},"typeVersion":1},{"id":"prepare_response","name":"Prepare Response","type":"n8n-nodes-base.function","position":[900,500],"parameters":{"functionCode":"let feed =\n`<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<rss version=\"2.0\">\n\n<channel>\n  <title>Baserow Releases</title>\n  <link>https://baserow.io/blog/category/release</link>\n  <description>Stay up to date with the latest changes and updates of Baserow</description>\n  ${items.map(e => e.json.rss_item).join('\\n')}\n</channel>\n\n</rss>`;\n\nreturn [{\n  json: {\n    feed: feed\n  }\n}];"},"typeVersion":1},{"id":"extract_fields","name":"Extract Fields","type":"n8n-nodes-base.htmlExtract","position":[1340,300],"parameters":{"options":{},"dataPropertyName":"post","extractionValues":{"values":[{"key":"date","cssSelector":".blog-listing__post-info > strong"},{"key":"title","cssSelector":".blog-listing__post-title"},{"key":"link","attribute":"href","cssSelector":".blog-listing__post-title > a","returnValue":"attribute"},{"key":"description","cssSelector":".blog-listing__post-description"}]}},"typeVersion":1}],"connections":{"Set URL":{"main":[[{"node":"Fetch Website","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set URL","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Format Date":{"main":[[{"node":"Create RSS Items","type":"main","index":0}]]},"Complete Link":{"main":[[{"node":"Format Date","type":"main","index":0}]]},"Extract Posts":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Fetch Website":{"main":[[{"node":"Extract Posts","type":"main","index":0}]]},"Extract Fields":{"main":[[{"node":"Complete Link","type":"main","index":0}]]},"Create RSS Items":{"main":[[{"node":"Prepare Response","type":"main","index":0}]]},"Prepare Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Set URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"57ebb8a9-b757-4f1e-ac63-f43192ae399b","activeVersionId":"57ebb8a9-b757-4f1e-ac63-f43192ae399b","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:47:42.774Z","createdAt":"2026-03-04T03:47:42.774Z","role":"workflow:owner","workflowId":"f5742318-9b49-4b8d-a765-228cccf8c84c","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:42.000Z","createdAt":"2026-03-04T03:47:49.421Z","id":"eec66593-c89f-4468-82f8-43a6173d2fd8","name":"ClayOfSand Telegram RAG","description":null,"active":true,"isArchived":false,"nodes":[{"id":"form_trigger_upload","name":"Upload your file here","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[220,-120],"webhookId":"a2f8c44e-1e1d-4cd5-9f2a-5d91d5cc5f82","parameters":{"options":{},"formTitle":"ClayOfSand RAG File Upload","formFields":{"values":[{"fieldType":"file","fieldLabel":"Upload your file(s)","requiredField":true,"acceptFileTypes":".pdf, .csv, .txt, .md"}]}}},{"id":"default_loader","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[660,40],"parameters":{"options":{},"dataType":"binary"}},{"id":"embeddings_openai","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[860,360],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"OPENAI_CREDENTIAL_ID","name":"OpenAI account"}}},{"id":"insert_store","name":"Insert Data to Store","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[400,-120],"parameters":{"mode":"insert","memoryKey":"clayofsand_vector_store"}},{"id":"chat_trigger","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1060,-140],"webhookId":"af5b9f6d-03f4-45d3-8aa0-6546c6419d77","parameters":{"options":{}}},{"id":"ai_agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1280,-140],"parameters":{"options":{}}},{"id":"openai_chat_model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1060,80],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"credentials":{"openAiApi":{"id":"OPENAI_CREDENTIAL_ID","name":"OpenAI account"}}},{"id":"query_tool","name":"Query Data Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[1280,80],"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","memoryKey":"clayofsand_vector_store","toolDescription":"Use this knowledge base to answer questions from the user"}},{"id":"sticky_readme","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-180],"parameters":{"color":4,"width":440,"height":300,"content":"### ClayOfSand RAG Bot\n1) Run the upload form flow first to insert documents.\n2) Open chat trigger endpoint and ask questions.\n3) Ensure OpenAI credential is set on both OpenAI nodes."}},{"id":"sticky_load_flow","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,-180],"parameters":{"color":7,"width":700,"height":460,"content":"### 1) Load Data Flow"}},{"id":"sticky_retriever","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,-180],"parameters":{"color":7,"width":680,"height":460,"content":"### 2) Retriever Flow"}},{"id":"sticky_embedding","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,320],"parameters":{"color":4,"width":320,"height":240,"content":"### Embeddings\nInsert and retrieve must use the same embedding model and credential."}}],"connections":{"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"0a19cb58-2359-4449-9c01-b4bc7c414278","activeVersionId":"0a19cb58-2359-4449-9c01-b4bc7c414278","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:47:49.424Z","createdAt":"2026-03-04T03:47:49.424Z","role":"workflow:owner","workflowId":"eec66593-c89f-4468-82f8-43a6173d2fd8","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:49:40.000Z","createdAt":"2026-03-04T03:47:56.900Z","id":"1e088bbd-8df0-4092-bc98-3f2b16a7e62f","name":"AetherNet Game Events","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aethermoor-events","responseMode":"onReceived","options":{}},"id":"game_webhook","name":"Game Event Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-600,200]},{"parameters":{"jsCode":"const evt = $json;\nconst t = evt.event_type || 'unknown';\nconst ts = new Date((evt.timestamp || 0) * 1000).toISOString();\nreturn [{ json: { ...evt, _routed_type: t, _ts: ts } }];"},"id":"normalize","name":"Normalize Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,200]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"is_battle","leftValue":"={{ $json._routed_type }}","rightValue":"battle_won","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if_battle_won","name":"If Battle Won","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,80]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"is_choice","leftValue":"={{ $json._routed_type }}","rightValue":"choice_made","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if_choice","name":"If Choice Made","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,250]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"strict"},"conditions":[{"id":"is_scene","leftValue":"={{ $json._routed_type }}","rightValue":"scene_transition","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if_scene","name":"If Scene Transition","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,420]},{"parameters":{"method":"POST","url":"http://127.0.0.1:8080/v1/game/action","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ action_type: 'send_dialogue', data: { speaker: 'POLLY', text: `Victory! ${$json.enemy || 'enemy'} defeated. The AetherNet grows stronger.` } }) }}","options":{}},"id":"victory_response","name":"Victory Dialogue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,80]},{"parameters":{"method":"POST","url":"http://127.0.0.1:8080/v1/game/action","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ action_type: 'tv_show', data: { show: 'Aethermoor News', content: `Player chose ${$json.action || '?'} in ${$json.scene || '?'}. Tongue: ${$json.tongue || '?'}`, channel: 'AetherTV' } }) }}","options":{}},"id":"choice_broadcast","name":"TV Broadcast Choice","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,250]},{"parameters":{"jsCode":"const evt = $json;\nconsole.log('Scene transition:', JSON.stringify(evt));\nreturn [{ json: { logged: true, from: evt.from_scene, to: evt.to_scene, ts: evt._ts } }];"},"id":"log_transition","name":"Log Scene Transition","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,420]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/training/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'battle_won', context: `Battle won against ${$json.enemy || 'enemy'}`, outcome: `Victory! ${$json.enemy || 'enemy'} defeated.`, tongue: $json.tongue || 'KO', metadata: { enemy: $json.enemy || 'unknown', scene: $json.scene || 'unknown', source: 'n8n_battle_route' } }) }}","options":{"timeout":5000}},"id":"train_battle","name":"Train: Battle Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,80]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/training/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'choice_made', context: `Player chose ${$json.action || '?'} in ${$json.scene || '?'}`, outcome: `Choice: ${$json.action || '?'}. Result: ${$json.result || 'pending'}`, tongue: $json.tongue || 'KO', metadata: { action: $json.action || 'unknown', scene: $json.scene || 'unknown', alternatives: $json.alternatives || [], source: 'n8n_choice_route' } }) }}","options":{"timeout":5000}},"id":"train_choice","name":"Train: Choice Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,250]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/training/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: 'scene_transition', context: `Transition from ${$json.from_scene || '?'} to ${$json.to_scene || '?'}`, outcome: `Scene changed: ${$json.from_scene || '?'} -> ${$json.to_scene || '?'}`, tongue: $json.tongue || 'KO', metadata: { from_scene: $json.from_scene || 'unknown', to_scene: $json.to_scene || 'unknown', source: 'n8n_scene_route' } }) }}","options":{"timeout":5000}},"id":"train_scene","name":"Train: Scene Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,420]}],"connections":{"Game Event Webhook":{"main":[[{"node":"Normalize Event","type":"main","index":0}]]},"Normalize Event":{"main":[[{"node":"If Battle Won","type":"main","index":0},{"node":"If Choice Made","type":"main","index":0},{"node":"If Scene Transition","type":"main","index":0}]]},"If Battle Won":{"main":[[{"node":"Victory Dialogue","type":"main","index":0}],[]]},"If Choice Made":{"main":[[{"node":"TV Broadcast Choice","type":"main","index":0}],[]]},"If Scene Transition":{"main":[[{"node":"Log Scene Transition","type":"main","index":0}],[]]},"Victory Dialogue":{"main":[[{"node":"Train: Battle Event","type":"main","index":0}]]},"TV Broadcast Choice":{"main":[[{"node":"Train: Choice Event","type":"main","index":0}]]},"Log Scene Transition":{"main":[[{"node":"Train: Scene Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":false},"pinData":{},"versionId":"143e341a-3bb2-4bce-b2ed-d6755520b292","activeVersionId":"143e341a-3bb2-4bce-b2ed-d6755520b292","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:47:56.906Z","createdAt":"2026-03-04T03:47:56.906Z","role":"workflow:owner","workflowId":"1e088bbd-8df0-4092-bc98-3f2b16a7e62f","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:51:04.000Z","createdAt":"2026-03-04T03:48:05.341Z","id":"2651d67c-ff69-4930-85f5-63e0cdf43a7c","name":"SCBE M5 Mesh Data Funnel","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scbe-m5-funnel","responseMode":"responseNode","options":{}},"id":"webhook_trigger","name":"Webhook: M5 Intake","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-920,220],"webhookId":"scbe-m5-funnel-001"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"schedule_trigger","name":"Schedule: M5 Sweep","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-920,-20]},{"parameters":{"jsCode":"const input = $json || {};\nconst nowIso = new Date().toISOString();\nconst summary = input.summary || input.text || input.context || 'm5 mesh intake event';\nconst tongue = (input.tongue || 'KO').toUpperCase();\nconst eventType = input.event_type || input.eventType || 'mesh_intake';\nconst source = input.source || input.source_system || 'n8n';\n\nconst metadata = {\n  run_id: input.run_id || `m5-${Date.now()}`,\n  source_system: source,\n  mesh_node: input.mesh_node || 'm5.funnel.intake',\n  decision_hint: input.decision || 'UNKNOWN',\n  published_at_utc: nowIso,\n  confidence: input.confidence ?? null,\n  tags: input.tags || []\n};\n\nreturn [{\n  json: {\n    event_type: eventType,\n    summary,\n    outcome: input.outcome || input.response || 'captured',\n    tongue,\n    source_system: source,\n    record_id: input.record_id || `${source}-${Date.now()}`,\n    metadata\n  }\n}];"},"id":"prepare_payload","name":"Prepare M5 Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,120]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/governance/scan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $('Prepare M5 Payload').item.json.summary, scan_mode: 'full' }) }}","options":{"timeout":10000}},"id":"governance_scan","name":"Governance Scan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,120]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.verdict || $json.governance_decision || 'ALLOW' }}","rightValue":"DENY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"governance_gate","name":"Governance Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[-120,120]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/training/ingest","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event_type: $('Prepare M5 Payload').item.json.event_type, context: $('Prepare M5 Payload').item.json.summary, outcome: $('Prepare M5 Payload').item.json.outcome, tongue: $('Prepare M5 Payload').item.json.tongue, metadata: $('Prepare M5 Payload').item.json.metadata }) }}","options":{"timeout":15000}},"id":"training_ingest","name":"Training Ingest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,20]},{"parameters":{"method":"POST","url":"=https://api.airtable.com/v0/{{$env.AIRTABLE_BASE_ID}}/{{$env.AIRTABLE_TABLE_ID}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.AIRTABLE_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: [{ fields: { Name: $('Prepare M5 Payload').item.json.event_type + ' :: ' + $('Prepare M5 Payload').item.json.record_id, Description: $('Prepare M5 Payload').item.json.summary, Status: 'In Progress', 'Priority Level': 'Medium', 'Estimated Hours': 1, 'Created Date': new Date().toISOString() } }] }) }}","options":{"timeout":15000}},"id":"airtable_log","name":"Airtable: Log Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,20],"continueOnFail":true},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/vertex/push-to-hf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ local_path: $env.M5_FALLBACK_LOCAL_PATH || null, hf_repo: $env.HF_DATASET_REPO || 'issdandavis/scbe-aethermoore-training-data', repo_type: 'dataset', path_in_repo: 'm5-funnel', commit_message: 'M5 mesh intake ' + new Date().toISOString() }) }}","options":{"timeout":120000}},"id":"hf_push","name":"HuggingFace: Push Dataset","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,20],"continueOnFail":true},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/telemetry/post-result","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ platform: 'm5-mesh-funnel', success: true, post_url: $('Prepare M5 Payload').item.json.record_id, timestamp: new Date().toISOString() }) }}","options":{"timeout":5000}},"id":"telemetry_log","name":"Telemetry Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,20]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ok', pipeline: 'm5_mesh_funnel', record_id: $('Prepare M5 Payload').item.json.record_id, trainer_status: $('Training Ingest').item.json.status || 'queued' }) }}"},"id":"respond_success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1180,20]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'blocked', reason: 'governance_deny', verdict: $json.verdict || $json.governance_decision || 'DENY' }) }}","options":{"responseCode":403}},"id":"respond_denied","name":"Respond Denied","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[140,260]}],"connections":{"Webhook: M5 Intake":{"main":[[{"node":"Prepare M5 Payload","type":"main","index":0}]]},"Schedule: M5 Sweep":{"main":[[{"node":"Prepare M5 Payload","type":"main","index":0}]]},"Prepare M5 Payload":{"main":[[{"node":"Governance Scan","type":"main","index":0}]]},"Governance Scan":{"main":[[{"node":"Governance Gate","type":"main","index":0}]]},"Governance Gate":{"main":[[{"node":"Training Ingest","type":"main","index":0}],[{"node":"Respond Denied","type":"main","index":0}]]},"Training Ingest":{"main":[[{"node":"Airtable: Log Event","type":"main","index":0}]]},"Airtable: Log Event":{"main":[[{"node":"HuggingFace: Push Dataset","type":"main","index":0}]]},"HuggingFace: Push Dataset":{"main":[[{"node":"Telemetry Log","type":"main","index":0}]]},"Telemetry Log":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"meta":{"scbe_version":"3.0.0","description":"M5 mesh intake pipeline: governance scan, training ingest, Airtable log, and HF dataset push."},"pinData":null,"versionId":"b94c9705-f0d7-4564-ae54-2fd2c06ea10c","activeVersionId":"b94c9705-f0d7-4564-ae54-2fd2c06ea10c","versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-04T03:48:05.355Z","createdAt":"2026-03-04T03:48:05.355Z","id":"3APbk2zZ7JbEG2mo","name":"huggingface"},{"updatedAt":"2026-03-04T03:43:19.679Z","createdAt":"2026-03-04T03:43:19.679Z","id":"4lYguzsbRZJ6dZF3","name":"scbe"},{"updatedAt":"2026-03-04T03:48:05.353Z","createdAt":"2026-03-04T03:48:05.353Z","id":"EyvW3QTLHcNKNaLM","name":"airtable"},{"updatedAt":"2026-03-04T03:48:05.350Z","createdAt":"2026-03-04T03:48:05.350Z","id":"Kt3QGLsJOFjCanga","name":"m5"},{"updatedAt":"2026-03-04T03:48:05.352Z","createdAt":"2026-03-04T03:48:05.352Z","id":"V4j83PQ50DVw6ez6","name":"funnel"}],"shared":[{"updatedAt":"2026-03-04T03:48:05.346Z","createdAt":"2026-03-04T03:48:05.346Z","role":"workflow:owner","workflowId":"2651d67c-ff69-4930-85f5-63e0cdf43a7c","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:10.000Z","createdAt":"2026-03-04T03:48:12.230Z","id":"6fc2f1d4-f242-4a30-a530-6b2720392f4e","name":"SCBE AI2AI Research Debate Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scbe-ai2ai-research-debate","responseMode":"responseNode","options":{}},"id":"webhook_ai2ai_research","name":"Webhook: AI2AI Research Debate","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,240],"webhookId":"scbe-ai2ai-research-debate-001"},{"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8001') + '/v1/research/web' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: $json.body?.query || $json.body?.prompt || 'AI monetization strategies for autonomous browser agents', max_results: Number($json.body?.max_results ?? 8), include_duckduckgo: $json.body?.include_duckduckgo ?? true, include_google_news: $json.body?.include_google_news ?? true, include_arxiv: $json.body?.include_arxiv ?? true, fetch_snippets: $json.body?.fetch_snippets ?? true }) }}","options":{"timeout":120000}},"id":"run_web_research","name":"Run Web Research","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,240]},{"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8001') + '/v1/workflow/ai2ai/debate' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: (($node['Webhook: AI2AI Research Debate'].json.body?.prompt || $node['Webhook: AI2AI Research Debate'].json.body?.query || 'Debate the best implementation plan from research evidence.') + '\\n\\nEvidence Pack:\\n' + (($json.evidence_pack || []).map((line, idx) => `${idx + 1}. ${line}`).join('\\n'))), max_models: Number($node['Webhook: AI2AI Research Debate'].json.body?.max_models ?? 4), create_issue: $node['Webhook: AI2AI Research Debate'].json.body?.create_issue ?? true, labels: $node['Webhook: AI2AI Research Debate'].json.body?.labels || ['ai2ai', 'workflow', 'research'], assignees: $node['Webhook: AI2AI Research Debate'].json.body?.assignees || [], min_avg_governance: Number($node['Webhook: AI2AI Research Debate'].json.body?.min_avg_governance ?? 0.64), min_any_governance: Number($node['Webhook: AI2AI Research Debate'].json.body?.min_any_governance ?? 0.45), require_tests_hint: $node['Webhook: AI2AI Research Debate'].json.body?.require_tests_hint ?? true }) }}","options":{"timeout":150000}},"id":"run_ai2ai_debate","name":"Run AI2AI Debate Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-110,240]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, research: $node['Run Web Research'].json, debate: $json, workflow_issue: $json.issue || null, review_gate: $json.review_gate || null, production_decision: $json.production_decision || 'hold', production_route: $json.production_route || 'review_queue' }) }}"},"id":"respond_result","name":"Respond: Research + Debate","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[240,240]}],"connections":{"Webhook: AI2AI Research Debate":{"main":[[{"node":"Run Web Research","type":"main","index":0}]]},"Run Web Research":{"main":[[{"node":"Run AI2AI Debate Workflow","type":"main","index":0}]]},"Run AI2AI Debate Workflow":{"main":[[{"node":"Respond: Research + Debate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"meta":null,"pinData":null,"versionId":"7019ae51-33bc-4663-b02f-f4ad26017a3b","activeVersionId":"7019ae51-33bc-4663-b02f-f4ad26017a3b","versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-04T03:43:19.679Z","createdAt":"2026-03-04T03:43:19.679Z","id":"4lYguzsbRZJ6dZF3","name":"scbe"},{"updatedAt":"2026-03-04T03:48:12.239Z","createdAt":"2026-03-04T03:48:12.239Z","id":"B7NuN4AgAtC46vFP","name":"ai2ai"},{"updatedAt":"2026-03-04T03:48:12.244Z","createdAt":"2026-03-04T03:48:12.244Z","id":"eV9KgWW5iaemPK9X","name":"research"},{"updatedAt":"2026-03-04T03:48:12.242Z","createdAt":"2026-03-04T03:48:12.242Z","id":"t8Dqx0VqkwrOgJSV","name":"workflow"}],"shared":[{"updatedAt":"2026-03-04T03:48:12.233Z","createdAt":"2026-03-04T03:48:12.233Z","role":"workflow:owner","workflowId":"6fc2f1d4-f242-4a30-a530-6b2720392f4e","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:03.000Z","createdAt":"2026-03-04T03:48:19.551Z","id":"31bf6e51-2167-4181-ac94-4b8d2afe6f26","name":"SCBE Content Publisher — Multi-Platform with Governance","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scbe-publish","responseMode":"responseNode","options":{}},"id":"webhook_trigger","name":"Webhook: Publish Request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,200],"webhookId":"scbe-publish-001"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"schedule_trigger","name":"Schedule: Process Queue","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,0]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/governance/scan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.text }}"},{"name":"platforms","value":"={{ $json.platforms }}"},{"name":"scan_mode","value":"full"}]},"options":{"timeout":10000}},"id":"governance_scan","name":"Semantic Antivirus Scan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,200]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"gov_check","leftValue":"={{ $json.governance_decision }}","rightValue":"DENY","operator":{"type":"string","operation":"notEquals"}}]}},"id":"governance_gate","name":"Governance Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[-200,200]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/tongue/encode","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"tongue","value":"={{ $json.tongue || 'KO' }}"},{"name":"seal","value":"={{ $json.geoseal || false }}"}]},"options":{"timeout":5000}},"id":"tongue_encode","name":"Tongue Encode (Optional)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,100],"disabled":true},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.X_BEARER_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"text\": \"{{ $json.text }}\" }","options":{"timeout":15000}},"id":"twitter_post","name":"Post to Twitter/X","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0]},{"parameters":{"method":"POST","url":"https://bsky.social/xrpc/com.atproto.repo.createRecord","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.BLUESKY_ACCESS_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"repo\": \"{{ $env.BLUESKY_DID }}\", \"collection\": \"app.bsky.feed.post\", \"record\": { \"$type\": \"app.bsky.feed.post\", \"text\": \"{{ $json.text }}\", \"createdAt\": \"{{ $now.toISO() }}\" } }","options":{"timeout":15000}},"id":"bluesky_post","name":"Post to Bluesky","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,200]},{"parameters":{"method":"POST","url":"={{ $env.MASTODON_INSTANCE }}/api/v1/statuses","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.MASTODON_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"={{ $json.text }}"}]},"options":{"timeout":15000}},"id":"mastodon_post","name":"Post to Mastodon","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,400]},{"parameters":{"method":"POST","url":"https://api.github.com/repos/{{ $env.GITHUB_REPO }}/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"token {{ $env.GITHUB_TOKEN }}"},{"name":"X-GitHub-Api-Version","value":"2022-11-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"title\": \"{{ $json.title || 'SCBE Agent Post' }}\", \"body\": \"{{ $json.text }}\", \"labels\": [\"scbe-agent\", \"automated\"] }","options":{"timeout":15000}},"id":"github_post","name":"Post to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,600]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/telemetry/post-result","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"platform","value":"={{ $json.platform }}"},{"name":"success","value":"={{ $json.statusCode < 400 }}"},{"name":"post_url","value":"={{ $json.html_url || $json.uri || '' }}"},{"name":"timestamp","value":"={{ $now.toISO() }}"}]}},"id":"telemetry_log","name":"Log to SCBE Telemetry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"blocked\", \"reason\": \"governance_deny\", \"risk_score\": {{ $json.risk_score || 0 }} }"},"id":"blocked_response","name":"Respond: Blocked","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[100,400]},{"parameters":{"respondWith":"json","responseBody":"={ \"status\": \"published\", \"platforms\": {{ JSON.stringify($json.platforms) }} }"},"id":"success_response","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,200]}],"connections":{"Webhook: Publish Request":{"main":[[{"node":"Semantic Antivirus Scan","type":"main","index":0}]]},"Schedule: Process Queue":{"main":[[{"node":"Semantic Antivirus Scan","type":"main","index":0}]]},"Semantic Antivirus Scan":{"main":[[{"node":"Governance Gate","type":"main","index":0}]]},"Governance Gate":{"main":[[{"node":"Post to Twitter/X","type":"main","index":0},{"node":"Post to Bluesky","type":"main","index":0},{"node":"Post to Mastodon","type":"main","index":0},{"node":"Post to GitHub","type":"main","index":0}],[{"node":"Respond: Blocked","type":"main","index":0}]]},"Post to Twitter/X":{"main":[[{"node":"Log to SCBE Telemetry","type":"main","index":0}]]},"Post to Bluesky":{"main":[[{"node":"Log to SCBE Telemetry","type":"main","index":0}]]},"Post to Mastodon":{"main":[[{"node":"Log to SCBE Telemetry","type":"main","index":0}]]},"Post to GitHub":{"main":[[{"node":"Log to SCBE Telemetry","type":"main","index":0}]]},"Log to SCBE Telemetry":{"main":[[{"node":"Respond: Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":false,"scbe_version":"3.0.0","description":"Multi-platform content publishing with SCBE 14-layer governance. Webhook receives post requests, scans through semantic antivirus, then publishes to Twitter/Bluesky/Mastodon/GitHub with telemetry logging."},"pinData":null,"versionId":"00247a13-6456-40c5-997e-4e791ec43c10","activeVersionId":"00247a13-6456-40c5-997e-4e791ec43c10","versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-04T03:48:19.557Z","createdAt":"2026-03-04T03:48:19.557Z","id":"0s8A9lTfsYF6hiao","name":"content-publishing"},{"updatedAt":"2026-03-04T03:43:19.679Z","createdAt":"2026-03-04T03:43:19.679Z","id":"4lYguzsbRZJ6dZF3","name":"scbe"},{"updatedAt":"2026-03-04T03:48:19.559Z","createdAt":"2026-03-04T03:48:19.559Z","id":"ULaHkqmjMPTGpx96","name":"governance"}],"shared":[{"updatedAt":"2026-03-04T03:48:19.554Z","createdAt":"2026-03-04T03:48:19.554Z","role":"workflow:owner","workflowId":"31bf6e51-2167-4181-ac94-4b8d2afe6f26","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:35.000Z","createdAt":"2026-03-04T03:48:27.312Z","id":"255a6f74-1d2f-4042-8b56-9e3f431a4b70","name":"SCBE LLM Dispatch Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scbe-llm-dispatch-001","responseMode":"responseNode","options":{}},"id":"webhook_trigger","name":"Webhook: LLM Dispatch","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[260,260],"webhookId":"scbe-llm-dispatch-001"},{"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8001') + '/v1/llm/dispatch' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"}]},"sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ provider: $json.body?.provider || 'huggingface', model: $json.body?.model || undefined, messages: $json.body?.messages || [{ role: 'user', content: $json.body?.prompt || 'hello from n8n' }], prompt: $json.body?.prompt || undefined, system: $json.body?.system || undefined, temperature: $json.body?.temperature ?? 0.2, max_tokens: $json.body?.max_tokens ?? 700, tools: $json.body?.tools || [], tool_choice: $json.body?.tool_choice || undefined, metadata: $json.body?.metadata || { source: 'n8n', workflow: 'scbe_llm_dispatch' }, route_to_zapier: $json.body?.route_to_zapier ?? false, zapier_hook_url: $json.body?.zapier_hook_url || undefined }) }}","options":{"timeout":90000}},"id":"call_bridge","name":"Call SCBE Bridge LLM Dispatch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,260]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"respond_ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[840,260]}],"connections":{"Webhook: LLM Dispatch":{"main":[[{"node":"Call SCBE Bridge LLM Dispatch","type":"main","index":0}]]},"Call SCBE Bridge LLM Dispatch":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"c33be321-4b28-4dcd-b655-3748e34673ef","activeVersionId":"c33be321-4b28-4dcd-b655-3748e34673ef","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:48:27.315Z","createdAt":"2026-03-04T03:48:27.315Z","role":"workflow:owner","workflowId":"255a6f74-1d2f-4042-8b56-9e3f431a4b70","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:49.000Z","createdAt":"2026-03-04T03:48:35.494Z","id":"cffcf2f1-9fd2-4068-88a7-5358da86d494","name":"SCBE Telegram Local Router","description":null,"active":true,"isArchived":false,"nodes":[{"id":"tg_trigger","name":"Telegram Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[220,280],"parameters":{"httpMethod":"POST","path":"telegram-local-router","responseMode":"onReceived","options":{}}},{"id":"parse_cmd","name":"Parse Telegram Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,280],"parameters":{"jsCode":"const update = $json.body || $json;\nconst message = update.message || update.edited_message || update.channel_post || {};\nconst chatId = message.chat?.id ?? null;\nif (!chatId) {\n  return [];\n}\n\nconst msg = String(message.text || '').trim();\nlet mode = 'dispatch';\nlet provider = 'huggingface';\nlet prompt = msg;\nconst lower = msg.toLowerCase();\n\nif (lower === '/status') {\n  mode = 'status';\n  prompt = 'status';\n} else if (lower.startsWith('/grok ')) {\n  provider = 'xai';\n  prompt = msg.slice(6).trim();\n} else if (lower.startsWith('/claude ')) {\n  provider = 'anthropic';\n  prompt = msg.slice(8).trim();\n} else if (lower.startsWith('/gpt ')) {\n  provider = 'openai';\n  prompt = msg.slice(5).trim();\n} else if (lower.startsWith('/hf ')) {\n  provider = 'huggingface';\n  prompt = msg.slice(4).trim();\n}\n\nif (!prompt) {\n  prompt = 'hello';\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    mode,\n    provider,\n    prompt,\n    original: msg,\n    update_id: update.update_id || null\n  }\n}];"}},{"id":"is_status","name":"Is Status?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,280],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"mode_check","leftValue":"={{ $json.mode }}","rightValue":"status","operator":{"type":"string","operation":"equals"}}]},"options":{}}},{"id":"status_call","name":"Bridge Providers Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,160],"parameters":{"method":"GET","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/llm/providers' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"}]},"options":{"timeout":20000}}},{"id":"status_text","name":"Build Status Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,160],"parameters":{"jsCode":"const p = $json.providers || {};\nconst line = (k, v) => `${k}: ${v?.configured ? 'on' : 'off'} (${v?.default_model || '-'})`;\nconst text = [\n  'SCBE Provider Status',\n  line('openai', p.openai),\n  line('anthropic', p.anthropic),\n  line('xai', p.xai),\n  line('huggingface', p.huggingface),\n  `zapier: ${$json.zapier?.configured ? 'on' : 'off'}`\n].join('\\n');\nreturn [{ json: { text } }];"}},{"id":"status_send","name":"Telegram Reply Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,160],"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('Parse Telegram Command').item.json.chat_id, text: $json.text }) }}","options":{"timeout":20000}}},{"id":"dispatch_call","name":"Bridge LLM Dispatch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,380],"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/llm/dispatch' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"}]},"sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ provider: $json.provider, messages: [{ role: 'user', content: $json.prompt }], temperature: 0.2, max_tokens: 700, metadata: { source: 'telegram', workflow: 'scbe_telegram_local_router' } }) }}","options":{"timeout":90000}}},{"id":"dispatch_text","name":"Build Dispatch Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,380],"parameters":{"jsCode":"let text = String($json.text || '').trim();\nif (!text) {\n  text = 'No text response from provider.';\n}\nif (text.length > 3500) {\n  text = text.slice(0, 3500) + '\\n...[truncated]';\n}\nreturn [{ json: { text } }];"}},{"id":"dispatch_send","name":"Telegram Reply Dispatch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,380],"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('Parse Telegram Command').item.json.chat_id, text: $json.text }) }}","options":{"timeout":20000}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parse Telegram Command","type":"main","index":0}]]},"Parse Telegram Command":{"main":[[{"node":"Is Status?","type":"main","index":0}]]},"Is Status?":{"main":[[{"node":"Bridge Providers Status","type":"main","index":0}],[{"node":"Bridge LLM Dispatch","type":"main","index":0}]]},"Bridge Providers Status":{"main":[[{"node":"Build Status Reply","type":"main","index":0}]]},"Build Status Reply":{"main":[[{"node":"Telegram Reply Status","type":"main","index":0}]]},"Bridge LLM Dispatch":{"main":[[{"node":"Build Dispatch Reply","type":"main","index":0}]]},"Build Dispatch Reply":{"main":[[{"node":"Telegram Reply Dispatch","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"ba82f59c-29cd-45f1-ab9f-4d52a839be0e","activeVersionId":"ba82f59c-29cd-45f1-ab9f-4d52a839be0e","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:48:35.498Z","createdAt":"2026-03-04T03:48:35.498Z","role":"workflow:owner","workflowId":"cffcf2f1-9fd2-4068-88a7-5358da86d494","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:27.000Z","createdAt":"2026-03-04T03:48:43.757Z","id":"0a0e5c72-a82d-40cd-9590-08c529ab9d67","name":"SCBE Telegram Webhook Cloud Router","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook_tg","name":"Telegram Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[220,280],"parameters":{"httpMethod":"POST","path":"telegram-clayofsand","responseMode":"onReceived","options":{}},"webhookId":"scbe-telegram-cloud-router-001"},{"id":"parse_update","name":"Parse Telegram Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,280],"parameters":{"jsCode":"const update = $json.body || $json;\nconst message = update.message || update.edited_message || update.channel_post || {};\nconst chatId = message.chat?.id ?? null;\nif (!chatId) {\n  return [];\n}\nconst original = String(message.text || '').trim();\nconst lower = original.toLowerCase();\nlet mode = 'dispatch';\nlet provider = 'huggingface';\nlet prompt = original;\n\nif (lower === '/status') {\n  mode = 'status';\n  prompt = 'status';\n} else if (lower.startsWith('/grok ')) {\n  provider = 'xai';\n  prompt = original.slice(6).trim();\n} else if (lower.startsWith('/claude ')) {\n  provider = 'anthropic';\n  prompt = original.slice(8).trim();\n} else if (lower.startsWith('/gpt ')) {\n  provider = 'openai';\n  prompt = original.slice(5).trim();\n} else if (lower.startsWith('/hf ')) {\n  provider = 'huggingface';\n  prompt = original.slice(4).trim();\n}\n\nif (!prompt) {\n  prompt = 'hello';\n}\n\nreturn [{\n  json: {\n    update_id: update.update_id,\n    chat_id: chatId,\n    mode,\n    provider,\n    prompt,\n    original\n  }\n}];"}},{"id":"if_status","name":"Is Status?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,280],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"mode_eq_status","leftValue":"={{ $json.mode }}","rightValue":"status","operator":{"type":"string","operation":"equals"}}]},"options":{}}},{"id":"call_provider_status","name":"Bridge Providers Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,160],"continueOnFail":true,"parameters":{"method":"GET","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/llm/providers' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"}]},"options":{"timeout":20000}}},{"id":"build_status_message","name":"Build Status Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,160],"parameters":{"jsCode":"if ($json.error) {\n  return [{ json: { text: `Status check failed: ${$json.error.message || 'unknown error'}` } }];\n}\nconst p = $json.providers || {};\nconst line = (k, v) => `${k}: ${v?.configured ? 'on' : 'off'} (${v?.default_model || '-'})`;\nconst text = [\n  'SCBE Provider Status',\n  line('openai', p.openai),\n  line('anthropic', p.anthropic),\n  line('xai', p.xai),\n  line('huggingface', p.huggingface),\n  `zapier: ${$json.zapier?.configured ? 'on' : 'off'}`\n].join('\\n');\nreturn [{ json: { text } }];"}},{"id":"send_status_reply","name":"Send Telegram Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,160],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('Parse Telegram Update').item.json.chat_id, text: $json.text }) }}","options":{"timeout":20000}}},{"id":"call_dispatch","name":"Bridge LLM Dispatch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,380],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ ($env.SCBE_BRIDGE_URL || 'http://127.0.0.1:8002') + '/v1/llm/dispatch' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY || 'scbe-dev-key' }}"}]},"sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ provider: $json.provider, messages: [{ role: 'user', content: $json.prompt }], temperature: 0.2, max_tokens: 700, metadata: { source: 'telegram', workflow: 'scbe_telegram_webhook_cloud' } }) }}","options":{"timeout":90000}}},{"id":"build_dispatch_message","name":"Build Dispatch Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,380],"parameters":{"jsCode":"if ($json.error) {\n  return [{ json: { text: `Dispatch failed: ${$json.error.message || 'unknown error'}` } }];\n}\nlet text = String($json.text || '').trim();\nif (!text) {\n  text = 'No text response from provider.';\n}\nif (text.length > 3500) {\n  text = `${text.slice(0, 3500)}\\n...[truncated]`;\n}\nreturn [{ json: { text } }];"}},{"id":"send_dispatch_reply","name":"Send Telegram Dispatch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,380],"continueOnFail":true,"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"contentType":"json","jsonBody":"={{ JSON.stringify({ chat_id: $('Parse Telegram Update').item.json.chat_id, text: $json.text }) }}","options":{"timeout":20000}}},{"id":"note_usage","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,20],"parameters":{"color":4,"width":560,"height":220,"content":"### Cloud-safe Telegram Router\n- No Telegram credentials required in nodes.\n- Uses webhook + Telegram Bot API HTTP calls.\n- Set env vars in n8n: TELEGRAM_BOT_TOKEN, SCBE_BRIDGE_URL, SCBE_API_KEY.\n- Set BotFather webhook to: https://<your-n8n-domain>/webhook/telegram-clayofsand"}}],"connections":{"Telegram Webhook":{"main":[[{"node":"Parse Telegram Update","type":"main","index":0}]]},"Parse Telegram Update":{"main":[[{"node":"Is Status?","type":"main","index":0}]]},"Is Status?":{"main":[[{"node":"Bridge Providers Status","type":"main","index":0}],[{"node":"Bridge LLM Dispatch","type":"main","index":0}]]},"Bridge Providers Status":{"main":[[{"node":"Build Status Reply","type":"main","index":0}]]},"Build Status Reply":{"main":[[{"node":"Send Telegram Status","type":"main","index":0}]]},"Bridge LLM Dispatch":{"main":[[{"node":"Build Dispatch Reply","type":"main","index":0}]]},"Build Dispatch Reply":{"main":[[{"node":"Send Telegram Dispatch","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"77d8b1b0-6a53-45d9-8b80-a8d5d8cfbe28","activeVersionId":"77d8b1b0-6a53-45d9-8b80-a8d5d8cfbe28","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:48:43.761Z","createdAt":"2026-03-04T03:48:43.761Z","role":"workflow:owner","workflowId":"0a0e5c72-a82d-40cd-9590-08c529ab9d67","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:49:26.000Z","createdAt":"2026-03-04T03:48:50.863Z","id":"e9bc2e39-af43-4d76-a89c-4b8f8436f159","name":"SCBE Web Agent — Task Orchestrator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"scbe-task","responseMode":"responseNode","options":{}},"id":"task_webhook","name":"Webhook: Submit Task","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,200],"webhookId":"scbe-task-001"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"type_check","leftValue":"={{ $json.task_type }}","rightValue":"navigate","operator":{"type":"string","operation":"equals"}}]}},"id":"task_router_nav","name":"Is Navigation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-400,100]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"type_check_post","leftValue":"={{ $json.task_type }}","rightValue":"post_content","operator":{"type":"string","operation":"equals"}}]}},"id":"task_router_post","name":"Is Content Post?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-400,400]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/agent/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ task_type: $json.task_type, target_url: $json.target_url, goal: $json.goal, max_steps: $json.max_steps || 50, parameters: $json.parameters || {} }) }}","options":{"timeout":30000}},"id":"submit_nav_task","name":"Submit Navigation Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,100]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/buffer/post","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ text: $json.text, platforms: $json.platforms || ['twitter'], tags: $json.tags || [], schedule_at: $json.schedule_at || null, tongue_encode: $json.tongue_encode || false }) }}","options":{"timeout":15000}},"id":"submit_post_task","name":"Submit Content Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,400]},{"parameters":{"amount":5,"unit":"seconds"},"id":"poll_wait","name":"Wait 5s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[300,100]},{"parameters":{"method":"GET","url":"http://localhost:8001/v1/agent/task/={{ $json.task_id }}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"}]},"options":{"timeout":10000}},"id":"poll_status","name":"Poll Task Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,100]},{"parameters":{"conditions":{"conditions":[{"id":"done_check","leftValue":"={{ $json.status }}","rightValue":"running","operator":{"type":"string","operation":"equals"}}]}},"id":"still_running","name":"Still Running?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,100]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ task_id: $json.task_id, status: $json.status, result: $json.result || null }) }}"},"id":"task_response","name":"Respond: Task Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,300]}],"connections":{"Webhook: Submit Task":{"main":[[{"node":"Is Navigation?","type":"main","index":0},{"node":"Is Content Post?","type":"main","index":0}]]},"Is Navigation?":{"main":[[{"node":"Submit Navigation Task","type":"main","index":0}],[]]},"Is Content Post?":{"main":[[{"node":"Submit Content Post","type":"main","index":0}],[]]},"Submit Navigation Task":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Submit Content Post":{"main":[[{"node":"Respond: Task Result","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Poll Task Status","type":"main","index":0}]]},"Poll Task Status":{"main":[[{"node":"Still Running?","type":"main","index":0}]]},"Still Running?":{"main":[[{"node":"Wait 5s","type":"main","index":0}],[{"node":"Respond: Task Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"meta":{"scbe_version":"3.0.0","description":"Submit and monitor web agent tasks via webhook. Routes navigation tasks to the SCBE agent engine with polling, and content posts to the Buffer pipeline."},"pinData":null,"versionId":"3c674018-f172-4140-988a-4f36fd91b9f4","activeVersionId":"3c674018-f172-4140-988a-4f36fd91b9f4","versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-04T03:43:19.679Z","createdAt":"2026-03-04T03:43:19.679Z","id":"4lYguzsbRZJ6dZF3","name":"scbe"},{"updatedAt":"2026-03-04T03:48:50.869Z","createdAt":"2026-03-04T03:48:50.869Z","id":"c1YoZOGABRk7Jmuu","name":"web-agent"},{"updatedAt":"2026-03-04T03:48:50.871Z","createdAt":"2026-03-04T03:48:50.871Z","id":"dXu2EqYISriTj4EW","name":"task-orchestration"}],"shared":[{"updatedAt":"2026-03-04T03:48:50.866Z","createdAt":"2026-03-04T03:48:50.866Z","role":"workflow:owner","workflowId":"e9bc2e39-af43-4d76-a89c-4b8f8436f159","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:49:33.000Z","createdAt":"2026-03-04T03:48:57.885Z","id":"526c3902-ccc2-4077-aec7-94c7df7363ae","name":"SCBE Vertex AI ↔ HuggingFace Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"vertex-hf-pipeline","responseMode":"responseNode","options":{}},"id":"webhook_trigger","name":"Webhook: Pipeline Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,200],"webhookId":"vertex-hf-001"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"schedule_trigger","name":"Schedule: Periodic Sync","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-900,-50]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"train","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"route_action","name":"Route: Action Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-600,200],"parameters_extra":{"rules":[{"outputIndex":0,"value":"train"},{"outputIndex":1,"value":"predict"},{"outputIndex":2,"value":"push-to-hf"},{"outputIndex":3,"value":"pull-from-hf"},{"outputIndex":4,"value":"sync"}]}},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/governance/scan","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content: $json.goal || $json.display_name || 'vertex-hf-pipeline', scan_mode: 'full' }) }}","options":{"timeout":10000}},"id":"governance_scan","name":"Governance: Scan Intent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-350,200]},{"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ $json.verdict }}","rightValue":"DENY","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}},"id":"governance_gate","name":"Gate: Governance Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[-100,200]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/vertex/train","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ display_name: $('Webhook: Pipeline Trigger').item.json.display_name || 'scbe-vertex-job', container_image_uri: $('Webhook: Pipeline Trigger').item.json.container_image_uri || 'us-docker.pkg.dev/vertex-ai/training/pytorch-gpu.2-1:latest', training_data_uri: $('Webhook: Pipeline Trigger').item.json.training_data_uri || null, machine_type: $('Webhook: Pipeline Trigger').item.json.machine_type || 'n1-standard-4', accelerator_type: $('Webhook: Pipeline Trigger').item.json.accelerator_type || null, accelerator_count: $('Webhook: Pipeline Trigger').item.json.accelerator_count || 0, push_to_hf: $('Webhook: Pipeline Trigger').item.json.push_to_hf !== false, hf_repo: $('Webhook: Pipeline Trigger').item.json.hf_repo || null, args: $('Webhook: Pipeline Trigger').item.json.args || [] }) }}","options":{"timeout":30000}},"id":"vertex_train","name":"Vertex AI: Submit Training","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,0]},{"parameters":{"method":"GET","url":"=http://localhost:8001/v1/vertex/job/{{ $json.job_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"}]},"options":{"timeout":10000}},"id":"vertex_poll","name":"Vertex AI: Poll Job Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,0]},{"parameters":{"amount":30,"unit":"seconds"},"id":"wait_poll","name":"Wait: Poll Interval","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[500,-150]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/vertex/push-to-hf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ gcs_uri: $('Webhook: Pipeline Trigger').item.json.gcs_uri || null, local_path: $('Webhook: Pipeline Trigger').item.json.local_path || null, hf_repo: $('Webhook: Pipeline Trigger').item.json.hf_repo || null, repo_type: $('Webhook: Pipeline Trigger').item.json.repo_type || 'model', commit_message: 'Vertex AI artifacts — ' + new Date().toISOString() }) }}","options":{"timeout":120000}},"id":"push_to_hf","name":"HuggingFace: Push Artifacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,200]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/hf/pull-model","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ hf_repo: $('Webhook: Pipeline Trigger').item.json.hf_repo || null, revision: $('Webhook: Pipeline Trigger').item.json.revision || 'main', local_dir: $('Webhook: Pipeline Trigger').item.json.local_dir || '/tmp/hf_model', upload_to_gcs: $('Webhook: Pipeline Trigger').item.json.upload_to_gcs || null }) }}","options":{"timeout":120000}},"id":"pull_from_hf","name":"HuggingFace: Pull Model","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,400]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/vertex/predict","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ endpoint_id: $('Webhook: Pipeline Trigger').item.json.endpoint_id, instances: $('Webhook: Pipeline Trigger').item.json.instances || [], parameters: $('Webhook: Pipeline Trigger').item.json.parameters || {} }) }}","options":{"timeout":30000}},"id":"vertex_predict","name":"Vertex AI: Run Prediction","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-200]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/telemetry/post-result","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ platform: 'vertex-hf-pipeline', success: true, post_url: $json.commit_url || $json.hf_repo || $json.vertex_resource || 'n/a' }) }}","options":{"timeout":5000}},"id":"log_telemetry","name":"Telemetry: Log Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'complete', pipeline: 'vertex-hf', result: $json }) }}"},"id":"respond_success","name":"Respond: Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[850,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'denied', reason: 'governance_gate_blocked', verdict: $json.verdict }) }}","options":{"responseCode":403}},"id":"respond_denied","name":"Respond: Denied by Governance","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[200,600]},{"parameters":{"method":"POST","url":"http://localhost:8001/v1/vertex/push-to-hf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ hf_repo: $json.hf_repo, gcs_uri: $json.training_data || null, commit_message: 'Auto-push from Vertex training job ' + ($json.job_id || 'unknown') }) }}","options":{"timeout":120000}},"id":"auto_push_hf","name":"Auto-Push: Training Result to HF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,0]},{"parameters":{"method":"GET","url":"http://localhost:8001/v1/vertex/models","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $env.SCBE_API_KEY }}"}]},"options":{"timeout":15000}},"id":"list_models","name":"Vertex AI: List Models","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-400]}],"connections":{"Webhook: Pipeline Trigger":{"main":[[{"node":"Governance: Scan Intent","type":"main","index":0}]]},"Schedule: Periodic Sync":{"main":[[{"node":"Vertex AI: List Models","type":"main","index":0}]]},"Governance: Scan Intent":{"main":[[{"node":"Gate: Governance Check","type":"main","index":0}]]},"Gate: Governance Check":{"main":[[{"node":"Vertex AI: Submit Training","type":"main","index":0},{"node":"HuggingFace: Push Artifacts","type":"main","index":0},{"node":"HuggingFace: Pull Model","type":"main","index":0},{"node":"Vertex AI: Run Prediction","type":"main","index":0}],[{"node":"Respond: Denied by Governance","type":"main","index":0}]]},"Vertex AI: Submit Training":{"main":[[{"node":"Vertex AI: Poll Job Status","type":"main","index":0}]]},"Vertex AI: Poll Job Status":{"main":[[{"node":"Auto-Push: Training Result to HF","type":"main","index":0}]]},"Auto-Push: Training Result to HF":{"main":[[{"node":"Telemetry: Log Result","type":"main","index":0}]]},"HuggingFace: Push Artifacts":{"main":[[{"node":"Telemetry: Log Result","type":"main","index":0}]]},"HuggingFace: Pull Model":{"main":[[{"node":"Telemetry: Log Result","type":"main","index":0}]]},"Vertex AI: Run Prediction":{"main":[[{"node":"Telemetry: Log Result","type":"main","index":0}]]},"Vertex AI: List Models":{"main":[[{"node":"Telemetry: Log Result","type":"main","index":0}]]},"Telemetry: Log Result":{"main":[[{"node":"Respond: Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3adeddd3-ebcf-4c78-b516-11e7be782fb2","activeVersionId":"3adeddd3-ebcf-4c78-b516-11e7be782fb2","versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-04T03:48:05.355Z","createdAt":"2026-03-04T03:48:05.355Z","id":"3APbk2zZ7JbEG2mo","name":"huggingface"},{"updatedAt":"2026-03-04T03:43:19.679Z","createdAt":"2026-03-04T03:43:19.679Z","id":"4lYguzsbRZJ6dZF3","name":"scbe"},{"updatedAt":"2026-03-04T03:48:57.892Z","createdAt":"2026-03-04T03:48:57.892Z","id":"8bDNayTjGzlOHFec","name":"vertex-ai"},{"updatedAt":"2026-03-04T03:48:57.894Z","createdAt":"2026-03-04T03:48:57.894Z","id":"GPiz3xFGYTi6R0sq","name":"ml-pipeline"}],"shared":[{"updatedAt":"2026-03-04T03:48:57.888Z","createdAt":"2026-03-04T03:48:57.888Z","role":"workflow:owner","workflowId":"526c3902-ccc2-4077-aec7-94c7df7363ae","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-04T03:50:19.000Z","createdAt":"2026-03-04T03:49:05.668Z","id":"eff3b833-3c9f-463e-8c64-116e19f6d3d2","name":"SCBE X Growth + Merch Ops","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual_trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1060,220]},{"parameters":{"httpMethod":"POST","path":"scbe-x-ops","responseMode":"onReceived","options":{}},"id":"webhook_trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1060,40]},{"parameters":{"jsCode":"const raw = $json.body ?? $json;\nconst action = String(raw.action || 'post').toLowerCase();\nconst text = String(raw.text || '');\nconst replyTo = String(raw.reply_to || '');\nconst productUrl = String(raw.product_url || 'https://aetherdavis.gumroad.com');\nconst productName = String(raw.product_name || 'SCBE Product');\n\nreturn [{\n  json: {\n    action,\n    text,\n    reply_to: replyTo,\n    product_url: productUrl,\n    product_name: productName,\n    scbe_api_key: String(raw.scbe_api_key || $env.SCBE_API_KEY || 'scbe-dev-key'),\n    x_bearer: String(raw.x_bearer || $env.X_BEARER_TOKEN || '')\n  }\n}];"},"id":"normalize","name":"Normalize Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,120]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"reply_condition","leftValue":"={{ $json.action }}","rightValue":"reply","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if_reply","name":"If Reply","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,120]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"merch_condition","leftValue":"={{ $json.action }}","rightValue":"merch","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if_merch","name":"If Merch","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,200]},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ `Bearer ${$json.x_bearer}` }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { text: $json.text } }}","options":{}},"id":"x_post","name":"X Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,280]},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ `Bearer ${$json.x_bearer}` }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { text: $json.text, reply: { in_reply_to_tweet_id: $json.reply_to } } }}","options":{}},"id":"x_reply","name":"X Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,40]},{"parameters":{"method":"POST","url":"http://127.0.0.1:8001/v1/integrations/n8n/browse","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $json.scbe_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { workflow_id: 'x-merch', run_id: `n8n-${Date.now()}`, source: 'n8n', session_id: `x-merch-${Date.now()}`, actions: [ { action: 'navigate', target: $json.product_url, timeout_ms: 12000 }, { action: 'extract', target: 'h1', timeout_ms: 12000 }, { action: 'screenshot', target: 'full_page', timeout_ms: 12000 } ] } }}","options":{}},"id":"merch_browser","name":"Merch Browser Action","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,180]}],"connections":{"Manual Trigger":{"main":[[{"node":"Normalize Payload","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Normalize Payload","type":"main","index":0}]]},"Normalize Payload":{"main":[[{"node":"If Reply","type":"main","index":0}]]},"If Reply":{"main":[[{"node":"X Reply","type":"main","index":0}],[{"node":"If Merch","type":"main","index":0}]]},"If Merch":{"main":[[{"node":"Merch Browser Action","type":"main","index":0}],[{"node":"X Post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":false},"pinData":{},"versionId":"f8954a8d-69fe-428a-b30d-b551329496ef","activeVersionId":"f8954a8d-69fe-428a-b30d-b551329496ef","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-04T03:49:05.671Z","createdAt":"2026-03-04T03:49:05.671Z","role":"workflow:owner","workflowId":"eff3b833-3c9f-463e-8c64-116e19f6d3d2","projectId":"GaX1xlYkjflmYeOz","project":{"updatedAt":"2026-03-04T03:37:07.289Z","createdAt":"2026-03-04T03:37:07.289Z","id":"GaX1xlYkjflmYeOz","name":"Unnamed Project","type":"personal","icon":null,"description":null,"creatorId":"d36a9672-1916-4d85-95bd-4c8ae35a3b6d"}}],"versionMetadata":{"name":null,"description":null}}]